include README.md
include LICENSE.txt
include pyproject.toml
include pyviz_comms/.version
include pyviz_comms/notebook.js

include package.json
include install.json
include ts*.json

graft pyviz_comms/labextension

# Typescript files
graft src
prune **/node_modules
prune lib

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints